.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-side{
    width: 80px;
    height: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0% 3.5%;
}
.header-left-side-box-first{
    width: 35px;
    height: 100%;
    background: #010101;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-left-side-box-second{
    width: 35px;
    height: 100%;
    background: #010101;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user-wrapper{
    width: 180px;
    height: 100%;
    border-radius: 50px;
    margin: 0% 3%;
    display: flex;
    align-items: center;
    padding: 2px;
    background: black;
    color: white;
    justify-content: space-between;
    transition: 0.5s ease-in-out;

}
.user-wrapper:hover{
    background: rgb(34, 34, 34);
    transition: 0.5s ease-in-out;
}
.user-photo{
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
}
.user-name{
    font-family: "Montserrat-thin",sans-serif;
    font-weight: 600;
}